

<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <p>hello</p>
      <!-- <sidebar-cmp></sidebar-cmp> -->
  </div>
  <div class="main-panel">
      <app-navbar></app-navbar>
      <div id="content" class="content">
        <!-- Micro Frontends go here -->
      </div>
  </div>
</div>



<!-- <div>
  <p>
    Hello from the shell!
  </p>
</div>
<div class="main-panel">
  <div id="content" class="content">

    <!-- <project-a-widget></project-a-widget> -->
    <!-- <script scr="dist/projects/project-a/main.js"></script> -->
    <!-- The different micro applications will be loaded here. 
  </div>
</div> -->